body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: lightslategray;
    color: white;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 90rem) 1fr;
    grid-template-rows: 6rem 1fr auto;
    grid-template-areas: 
    "header header header" 
    ". main ."
    "footer footer footer"
    /* als ik er een grid-gap op zet van 1rem, springt alles naar rechts, waarom? */
}
a {
    color: black;
    text-decoration: none;
}
.block {
    background-color: white;
}

.block__title {
    color: black;
    text-transform: uppercase;
}
.block-content {
    padding: 0rem 0rem 0rem 2rem;
}
.story__category {
    color: lightgrey;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.story__list {
    padding: 0rem;
}

.header {
    grid-area: header;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(255,255,255,0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}
h1.site-title {
    margin: 0rem;
    text-align: center;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    margin: 0rem 1rem;
}
.main {
    grid-area: main;
    background-color: lightslategray;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    "hero"
    "featured"
    "top-stories"
    "special-edition"
    "most-recent"
    "highlight"
}

.hero {
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: hero;
}
.hero__category {
    color: white;
}
.hero__title {
    color: white;
    font-size: 3rem;
}
.hero__text {
    color: white;
}
.featured {
    grid-area: featured;
    display: flex;
    flex-direction: column;
}
.featured-stories {
    padding: 0rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}
.top-stories {
    grid-area: top-stories;
}
.top-stories .story__list {
    display: flex;
    flex-direction: column;
}
.most-recent {
    grid-area: most-recent;
}
.recent-stories {
    display: flex;
    flex-direction: column;

}
.highlight {
    grid-area: highlight;
    display: flex;
    flex-direction: column;
    background-size: cover;

}
.highlight .story__text {
    color: white;
}
.highlight .block-content {
    padding: 4em 2em;
}
.special-edition {
    grid-area: special-edition;
}
.block-content--special {
    padding: 2em 1em 8em 1em;
}
.block__title--special {
    color: white;
}
.special-edition .story__text {
    color: white;
}
.footer {
    grid-area: footer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {
    /* ik wilde hier eigenlijk featured-stories, recent-stories en top-stories laten wrappen, maar bij 'flex-flow: row wrap' worden het kolommen ipv rijen, ik begrijp niet waarom */
    .featured-stories {
        flex-flow: row nowrap;
    }
    .recent-stories {
        flex-flow: row nowrap;
    }
    .top-stories .story__list {
        flex-flow: row nowrap;
    }
    }
    
@media screen and (min-width: 750px) {
    .main {
        grid-template-areas: 
        /* ik begrijp niet waarom het hero-block niet over drie kolommen breedte en 2 rijen hoogte staat, maar 1 kolom hoog en 1 kolom breed */
        /* hoe kan ik het beste de hoogte van het highlight-block sturen? het wordt erg hoog bij een breed beeldscherm */
        "hero hero hero highlight"
            "hero hero hero featured"
            "top-stories special-edition special-edition featured"
            "top-stories most-recent most-recent most-recent";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .top-stories .story__list {
        flex-direction: column;  
    }
    .featured-stories {
        flex-direction: column;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }